html,
body {
  background: #151515;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gothic';
  height: 100%;
  width: 100dvw;
}

* {
  margin: 0;
  padding: 0;
  user-select: none
}

:root {
  --medida-responsive: clamp(20px, 5vw, 30px);
  /* --resolucion-width: clamp(640px, 90vw, 1280px);
  --resolucion-height: clamp(360px, 90vh, 720px); */
  --color-button: #967120;
  --sombra-button: 0px 0px 15px 3px #b35a00;
  --alto-estadisticas: 15vh;
}

.hidden {
  display: none !important;
}

button {
  opacity: 1;
  transform: scale(1);
  transition: .1s transform ease, .1s opacity ease;

  /* &:hover {
    opacity: 1;
  } */

  &:active {
    opacity: 1;
  }
}

img {
  width: 100%;
  height: 100%;
  user-select: none;
  pointer-events: none;
  touch-action: none;
}

/* PANTALLA INICIAL */

.container-start {
  background: url(https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDNyYTJqaWxmYmZ3cDhwZXM1czNuYzZ0aXdldjBuZXV2bTl4OGNldCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/Xd7QqFPv4IVAz8dnog/giphy.gif) center / cover no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100%;
  display: grid;
  justify-items: center;
  /* align-content: center; */
  /* gap: 8vw; */
}

.container-start div {
  backdrop-filter: brightness(50%) contrast(150%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.central {
  position: relative;
  text-align: center;
  font-size: calc(var(--medida-responsive) * 3);
}

#msg-malvenida {
  letter-spacing: 10px;
  line-height: 50px;
  margin: 50px 50px;
  color: #0d5415;
  text-shadow: 0px 0px 10px #004a04;
  filter: hue-rotate(0deg) blur(0px);
  animation: filtros 3s alternate-reverse infinite;
}

button[onclick="jugar()"] {
  font-family: 'Gothic';
  padding: calc(var(--medida-responsive)/1.5) calc(var(--medida-responsive)*2);
  background: transparent;
  /* box-shadow: var(--sombra-button); */
  border-radius: 25px;
  border: none;
  font-weight: 900;
  margin: 0px 50px;
  color: #85858d;
  /* text-shadow: 0px 0px 10px #30a418; */
  font-size: calc(var(--medida-responsive) * 3);
  animation: agrandar 1s alternate-reverse infinite;
}

/* CANVAS */

#canvas {
  position: fixed;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  background: transparent;
  width: 100dvw;
  height: 100dvh;
  image-rendering: pixelated;
  filter: contrast(100%);
  transition: filter .2s;
  /* height: calc(100vh - var(--alto-estadisticas); */
  /* border: 5px solid black; */
}

/* BOTONES PARA MOVILES */

.container-buttons {
  width: 100%;
  height: 70vh;
  position: fixed;
  bottom: 0;
  z-index: 1;
}

/* AVANCE */

#joystick {
  position: absolute;
  left: 10%;
  bottom: 10%;
  width: 5vw;
  height: 25vw;
  border-radius: 100px;
  background-color: #16161ac7;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#ballJoystick {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60%;
  border-radius: 100%;
  background-color: #afa5ac;
  z-index: 3;
}

/* GIRO */

#zonaDeslice {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100%;
  /* background-color: #2a864c6f; */
}

/* DISPARAR */

.disparador {
  position: absolute;
  width: 18dvw;
  height: 18dvw;
  border: none;
  background-color: #757c11;
  border-radius: 100%;
  /* clip-path: circle(); */
  border-radius: 999999px;
  right: 6dvw;
  bottom: 10%;
  transform: scale(1);
  box-shadow: 0px 0px 5px #aabc07;
  opacity: .5;
}

.disparador-activo {
  background-color: #aabc07;
  box-shadow: 0px 0px 20px #aabc07;
  opacity: 1;
  transform: scale(1.2);
}

img[src="img/SVGs/fuegoDeCañon.svg"] {
  width: 70%;
}

/* SALUD */

#container-salud {
  position: absolute;
  top: 0;
  right: calc((var(--medida-responsive)) * (2.8));
  width: calc((var(--medida-responsive)) * (2.5));
  height: calc((var(--medida-responsive)) * (2.5));
}

#valorSalud {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 250%;
  font-weight: 900;
  color: #e84200;
  text-shadow: 0px 0px 5px #9c0247;
  z-index: 2;
}

/* TIEMPO */

#container-cronometro {
  /* width: calc((var(--medida-responsive)) * (5)); */
  width: fit-content;
  height: calc((var(--medida-responsive)) * (2.5));
  padding-inline: 15px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #0a2e03aa;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}

#tiempo {
  font-size: 250%;
  color: #c3c3c3;
  text-shadow: 0px 0px 5px #126e20;
}

/* CONFIGURACIONES */

button[onclick="abrirConfig()"] {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-radius: 0 0 0 40%;
  width: calc((var(--medida-responsive)) * (2.5));
  height: calc((var(--medida-responsive)) * (2.5));
  display: flex;
  justify-content: center;
  align-items: center;
}

#iconAjustes {
  position: absolute;
  width: 60%;
  height: 60%;
}

.configuraciones {
  padding: 10%;
  z-index: 20;
  background: #717070;
  color: #1c0808;
  font-size: 25px;
  font-family: 'Gothic';
  border-radius: 20px;
  border: 3px solid #03000a5d;
  /* margin: 5px 0px; */
}

.container-config {
  position: fixed;
  opacity: 0;
  left: 50dvw;
  transform: translateX(-50%);
  backdrop-filter: blur(3px) brightness(80%);
  width: 100dvw;
  height: 100dvh;
  z-index: 10;
  display: none;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease;
}

#cambiarResolucion {
  display: grid;
  text-align: center;
  padding: 10%;
}

#valorResolucion {
  margin: 15px 0px;
}

/* ANIMACIONES */

@keyframes agrandar {
  to {
    scale: 1.2;
  }
}

@keyframes filtros {
  to {
    filter: hue-rotate(360deg);
  }
}